<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>DEL</key>
  <string>D_E_L_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>a-emwa</key>
  <string>a-emwa.glif</string>
  <key>a-ima</key>
  <string>a-ima.glif</string>
  <key>a-mwangwego</key>
  <string>a-mwangwego.glif</string>
  <key>a-ota</key>
  <string>a-ota.glif</string>
  <key>a-uyu</key>
  <string>a-uyu.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>ba-emwa</key>
  <string>ba-emwa.glif</string>
  <key>ba-emwa-pewa</key>
  <string>ba-emwa-pewa.glif</string>
  <key>ba-ima</key>
  <string>ba-ima.glif</string>
  <key>ba-ima-pewa</key>
  <string>ba-ima-pewa.glif</string>
  <key>ba-mwangwego</key>
  <string>ba-mwangwego.glif</string>
  <key>ba-ota</key>
  <string>ba-ota.glif</string>
  <key>ba-ota-pewa</key>
  <string>ba-ota-pewa.glif</string>
  <key>ba-pewa</key>
  <string>ba-pewa.glif</string>
  <key>ba-uyu</key>
  <string>ba-uyu.glif</string>
  <key>ba-uyu-pewa</key>
  <string>ba-uyu-pewa.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>cha-emwa</key>
  <string>cha-emwa.glif</string>
  <key>cha-ima</key>
  <string>cha-ima.glif</string>
  <key>cha-mwangwego</key>
  <string>cha-mwangwego.glif</string>
  <key>cha-ota</key>
  <string>cha-ota.glif</string>
  <key>cha-uyu</key>
  <string>cha-uyu.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>da-emwa</key>
  <string>da-emwa.glif</string>
  <key>da-ima</key>
  <string>da-ima.glif</string>
  <key>da-mwangwego</key>
  <string>da-mwangwego.glif</string>
  <key>da-ota</key>
  <string>da-ota.glif</string>
  <key>da-uyu</key>
  <string>da-uyu.glif</string>
  <key>dhla-emwa</key>
  <string>dhla-emwa.glif</string>
  <key>dhla-ima</key>
  <string>dhla-ima.glif</string>
  <key>dhla-mwangwego</key>
  <string>dhla-mwangwego.glif</string>
  <key>dhla-ota</key>
  <string>dhla-ota.glif</string>
  <key>dhla-uyu</key>
  <string>dhla-uyu.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dza-emwa</key>
  <string>dza-emwa.glif</string>
  <key>dza-ima</key>
  <string>dza-ima.glif</string>
  <key>dza-mwangwego</key>
  <string>dza-mwangwego.glif</string>
  <key>dza-ota</key>
  <string>dza-ota.glif</string>
  <key>dza-uyu</key>
  <string>dza-uyu.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>emwa</key>
  <string>emwa.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fa-emwa</key>
  <string>fa-emwa.glif</string>
  <key>fa-ima</key>
  <string>fa-ima.glif</string>
  <key>fa-mwangwego</key>
  <string>fa-mwangwego.glif</string>
  <key>fa-ota</key>
  <string>fa-ota.glif</string>
  <key>fa-uyu</key>
  <string>fa-uyu.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>ga-emwa</key>
  <string>ga-emwa.glif</string>
  <key>ga-ima</key>
  <string>ga-ima.glif</string>
  <key>ga-mwangwego</key>
  <string>ga-mwangwego.glif</string>
  <key>ga-ota</key>
  <string>ga-ota.glif</string>
  <key>ga-uyu</key>
  <string>ga-uyu.glif</string>
  <key>gha-emwa</key>
  <string>gha-emwa.glif</string>
  <key>gha-ima</key>
  <string>gha-ima.glif</string>
  <key>gha-mwangwego</key>
  <string>gha-mwangwego.glif</string>
  <key>gha-ota</key>
  <string>gha-ota.glif</string>
  <key>gha-uyu</key>
  <string>gha-uyu.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>ha-emwa</key>
  <string>ha-emwa.glif</string>
  <key>ha-ima</key>
  <string>ha-ima.glif</string>
  <key>ha-mwangwego</key>
  <string>ha-mwangwego.glif</string>
  <key>ha-ota</key>
  <string>ha-ota.glif</string>
  <key>ha-uyu</key>
  <string>ha-uyu.glif</string>
  <key>hi</key>
  <string>hi.glif</string>
  <key>hi-waya</key>
  <string>hi-waya.glif</string>
  <key>hla-emwa</key>
  <string>hla-emwa.glif</string>
  <key>hla-ima</key>
  <string>hla-ima.glif</string>
  <key>hla-mwangwego</key>
  <string>hla-mwangwego.glif</string>
  <key>hla-ota</key>
  <string>hla-ota.glif</string>
  <key>hla-uyu</key>
  <string>hla-uyu.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>ima</key>
  <string>ima.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>ja-emwa</key>
  <string>ja-emwa.glif</string>
  <key>ja-ima</key>
  <string>ja-ima.glif</string>
  <key>ja-mwangwego</key>
  <string>ja-mwangwego.glif</string>
  <key>ja-ota</key>
  <string>ja-ota.glif</string>
  <key>ja-uyu</key>
  <string>ja-uyu.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>ka-emwa</key>
  <string>ka-emwa.glif</string>
  <key>ka-ima</key>
  <string>ka-ima.glif</string>
  <key>ka-mwangwego</key>
  <string>ka-mwangwego.glif</string>
  <key>ka-ota</key>
  <string>ka-ota.glif</string>
  <key>ka-uyu</key>
  <string>ka-uyu.glif</string>
  <key>kwanthu</key>
  <string>kwanthu.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>la-emwa</key>
  <string>la-emwa.glif</string>
  <key>la-ima</key>
  <string>la-ima.glif</string>
  <key>la-mwangwego</key>
  <string>la-mwangwego.glif</string>
  <key>la-ota</key>
  <string>la-ota.glif</string>
  <key>la-uyu</key>
  <string>la-uyu.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>ma-emwa</key>
  <string>ma-emwa.glif</string>
  <key>ma-ima</key>
  <string>ma-ima.glif</string>
  <key>ma-mwangwego</key>
  <string>ma-mwangwego.glif</string>
  <key>ma-ota</key>
  <string>ma-ota.glif</string>
  <key>ma-uyu</key>
  <string>ma-uyu.glif</string>
  <key>mi</key>
  <string>mi.glif</string>
  <key>mi-hi</key>
  <string>mi-hi.glif</string>
  <key>mi-hi-waya</key>
  <string>mi-hi-waya.glif</string>
  <key>mi-waya</key>
  <string>mi-waya.glif</string>
  <key>mula</key>
  <string>mula.glif</string>
  <key>mura</key>
  <string>mura.glif</string>
  <key>myu</key>
  <string>myu.glif</string>
  <key>myu-hi</key>
  <string>myu-hi.glif</string>
  <key>myu-hi-waya</key>
  <string>myu-hi-waya.glif</string>
  <key>myu-ni</key>
  <string>myu-ni.glif</string>
  <key>myu-ni-hi</key>
  <string>myu-ni-hi.glif</string>
  <key>myu-ni-hi-waya</key>
  <string>myu-ni-hi-waya.glif</string>
  <key>myu-waya</key>
  <string>myu-waya.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>na-emwa</key>
  <string>na-emwa.glif</string>
  <key>na-ima</key>
  <string>na-ima.glif</string>
  <key>na-mwangwego</key>
  <string>na-mwangwego.glif</string>
  <key>na-ota</key>
  <string>na-ota.glif</string>
  <key>na-uyu</key>
  <string>na-uyu.glif</string>
  <key>ni</key>
  <string>ni.glif</string>
  <key>ni-hi</key>
  <string>ni-hi.glif</string>
  <key>ni-hi-waya</key>
  <string>ni-hi-waya.glif</string>
  <key>ni-waya</key>
  <string>ni-waya.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>nya-emwa</key>
  <string>nya-emwa.glif</string>
  <key>nya-ima</key>
  <string>nya-ima.glif</string>
  <key>nya-mwangwego</key>
  <string>nya-mwangwego.glif</string>
  <key>nya-ota</key>
  <string>nya-ota.glif</string>
  <key>nya-uyu</key>
  <string>nya-uyu.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>ota</key>
  <string>ota.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>pa-emwa</key>
  <string>pa-emwa.glif</string>
  <key>pa-ima</key>
  <string>pa-ima.glif</string>
  <key>pa-mwangwego</key>
  <string>pa-mwangwego.glif</string>
  <key>pa-ota</key>
  <string>pa-ota.glif</string>
  <key>pa-uyu</key>
  <string>pa-uyu.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>pewa</key>
  <string>pewa.glif</string>
  <key>pewa.large</key>
  <string>pewa.large.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>psa-emwa</key>
  <string>psa-emwa.glif</string>
  <key>psa-ima</key>
  <string>psa-ima.glif</string>
  <key>psa-mwangwego</key>
  <string>psa-mwangwego.glif</string>
  <key>psa-ota</key>
  <string>psa-ota.glif</string>
  <key>psa-uyu</key>
  <string>psa-uyu.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>qa-emwa</key>
  <string>qa-emwa.glif</string>
  <key>qa-ima</key>
  <string>qa-ima.glif</string>
  <key>qa-mwangwego</key>
  <string>qa-mwangwego.glif</string>
  <key>qa-ota</key>
  <string>qa-ota.glif</string>
  <key>qa-uyu</key>
  <string>qa-uyu.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>ra-emwa</key>
  <string>ra-emwa.glif</string>
  <key>ra-ima</key>
  <string>ra-ima.glif</string>
  <key>ra-mwangwego</key>
  <string>ra-mwangwego.glif</string>
  <key>ra-ota</key>
  <string>ra-ota.glif</string>
  <key>ra-uyu</key>
  <string>ra-uyu.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sa-emwa</key>
  <string>sa-emwa.glif</string>
  <key>sa-ima</key>
  <string>sa-ima.glif</string>
  <key>sa-mwangwego</key>
  <string>sa-mwangwego.glif</string>
  <key>sa-ota</key>
  <string>sa-ota.glif</string>
  <key>sa-uyu</key>
  <string>sa-uyu.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>sha-emwa</key>
  <string>sha-emwa.glif</string>
  <key>sha-ima</key>
  <string>sha-ima.glif</string>
  <key>sha-mwangwego</key>
  <string>sha-mwangwego.glif</string>
  <key>sha-ota</key>
  <string>sha-ota.glif</string>
  <key>sha-uyu</key>
  <string>sha-uyu.glif</string>
  <key>sisa</key>
  <string>sisa.glif</string>
  <key>sisa-ni</key>
  <string>sisa-ni.glif</string>
  <key>sisa-ni-hi</key>
  <string>sisa-ni-hi.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>ta-emwa</key>
  <string>ta-emwa.glif</string>
  <key>ta-ima</key>
  <string>ta-ima.glif</string>
  <key>ta-mwangwego</key>
  <string>ta-mwangwego.glif</string>
  <key>ta-ota</key>
  <string>ta-ota.glif</string>
  <key>ta-uyu</key>
  <string>ta-uyu.glif</string>
  <key>tha-emwa</key>
  <string>tha-emwa.glif</string>
  <key>tha-ima</key>
  <string>tha-ima.glif</string>
  <key>tha-mwangwego</key>
  <string>tha-mwangwego.glif</string>
  <key>tha-ota</key>
  <string>tha-ota.glif</string>
  <key>tha-uyu</key>
  <string>tha-uyu.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>tsa-emwa</key>
  <string>tsa-emwa.glif</string>
  <key>tsa-ima</key>
  <string>tsa-ima.glif</string>
  <key>tsa-mwangwego</key>
  <string>tsa-mwangwego.glif</string>
  <key>tsa-ota</key>
  <string>tsa-ota.glif</string>
  <key>tsa-uyu</key>
  <string>tsa-uyu.glif</string>
  <key>tumba</key>
  <string>tumba.glif</string>
  <key>tumba-waya</key>
  <string>tumba-waya.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni25CC</key>
  <string>uni25C_C_.glif</string>
  <key>uniE0D0</key>
  <string>uniE_0D_0.glif</string>
  <key>uniE0D1</key>
  <string>uniE_0D_1.glif</string>
  <key>uniE0D2</key>
  <string>uniE_0D_2.glif</string>
  <key>uniE0D3</key>
  <string>uniE_0D_3.glif</string>
  <key>uniE0D4</key>
  <string>uniE_0D_4.glif</string>
  <key>uniE0D5</key>
  <string>uniE_0D_5.glif</string>
  <key>uniE0D6</key>
  <string>uniE_0D_6.glif</string>
  <key>uniE0D7</key>
  <string>uniE_0D_7.glif</string>
  <key>uniE0D8</key>
  <string>uniE_0D_8.glif</string>
  <key>uniE0D9</key>
  <string>uniE_0D_9.glif</string>
  <key>uyu</key>
  <string>uyu.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>va-emwa</key>
  <string>va-emwa.glif</string>
  <key>va-ima</key>
  <string>va-ima.glif</string>
  <key>va-mwangwego</key>
  <string>va-mwangwego.glif</string>
  <key>va-ota</key>
  <string>va-ota.glif</string>
  <key>va-uyu</key>
  <string>va-uyu.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wa-emwa</key>
  <string>wa-emwa.glif</string>
  <key>wa-ima</key>
  <string>wa-ima.glif</string>
  <key>wa-mwangwego</key>
  <string>wa-mwangwego.glif</string>
  <key>wa-ota</key>
  <string>wa-ota.glif</string>
  <key>wa-uyu</key>
  <string>wa-uyu.glif</string>
  <key>waya</key>
  <string>waya.glif</string>
  <key>waya-below</key>
  <string>waya-below.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>xa-emwa</key>
  <string>xa-emwa.glif</string>
  <key>xa-ima</key>
  <string>xa-ima.glif</string>
  <key>xa-mwangwego</key>
  <string>xa-mwangwego.glif</string>
  <key>xa-ota</key>
  <string>xa-ota.glif</string>
  <key>xa-uyu</key>
  <string>xa-uyu.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>ya-emwa</key>
  <string>ya-emwa.glif</string>
  <key>ya-ima</key>
  <string>ya-ima.glif</string>
  <key>ya-mwangwego</key>
  <string>ya-mwangwego.glif</string>
  <key>ya-ota</key>
  <string>ya-ota.glif</string>
  <key>ya-uyu</key>
  <string>ya-uyu.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>za-emwa</key>
  <string>za-emwa.glif</string>
  <key>za-emwa-pewa</key>
  <string>za-emwa-pewa.glif</string>
  <key>za-ima</key>
  <string>za-ima.glif</string>
  <key>za-ima-pewa</key>
  <string>za-ima-pewa.glif</string>
  <key>za-mwangwego</key>
  <string>za-mwangwego.glif</string>
  <key>za-ota</key>
  <string>za-ota.glif</string>
  <key>za-ota-pewa</key>
  <string>za-ota-pewa.glif</string>
  <key>za-pewa</key>
  <string>za-pewa.glif</string>
  <key>za-uyu</key>
  <string>za-uyu.glif</string>
  <key>za-uyu-pewa</key>
  <string>za-uyu-pewa.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zha-emwa</key>
  <string>zha-emwa.glif</string>
  <key>zha-ima</key>
  <string>zha-ima.glif</string>
  <key>zha-mwangwego</key>
  <string>zha-mwangwego.glif</string>
  <key>zha-ota</key>
  <string>zha-ota.glif</string>
  <key>zha-uyu</key>
  <string>zha-uyu.glif</string>
</dict>
</plist>
