<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.ka-mwangwego</key>
  <array>
    <string>ka-mwangwego</string>
  </array>
  <key>public.kern1.myu</key>
  <array>
    <string>hi</string>
    <string>hi-waya</string>
    <string>mi</string>
    <string>mi-hi</string>
    <string>mi-hi-waya</string>
    <string>mi-waya</string>
    <string>myu</string>
    <string>myu-hi</string>
    <string>myu-hi-waya</string>
    <string>myu-ni</string>
    <string>myu-ni-hi</string>
    <string>myu-ni-hi-waya</string>
    <string>myu-waya</string>
    <string>ni</string>
    <string>ni-hi</string>
    <string>ni-hi-waya</string>
    <string>ni-waya</string>
    <string>sisa</string>
    <string>sisa-ni</string>
    <string>sisa-ni-hi</string>
    <string>tumba</string>
    <string>tumba-waya</string>
    <string>waya</string>
  </array>
  <key>public.kern2.na-mwangwego</key>
  <array>
    <string>na-emwa</string>
    <string>na-ima</string>
    <string>na-mwangwego</string>
    <string>na-ota</string>
    <string>na-uyu</string>
  </array>
  <key>public.kern2.pa-mwangwego</key>
  <array>
    <string>pa-emwa</string>
    <string>pa-ima</string>
    <string>pa-mwangwego</string>
    <string>pa-ota</string>
    <string>pa-uyu</string>
  </array>
</dict>
</plist>
