<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.ka-mwangwego</key>
  <array>
    <string>ka-mwangwego</string>
  </array>
  <key>public.kern2.na-mwangwego</key>
  <array>
    <string>na-emwa</string>
    <string>na-ima</string>
    <string>na-mwangwego</string>
    <string>na-ota</string>
    <string>na-uyu</string>
  </array>
  <key>public.kern2.pa-mwangwego</key>
  <array>
    <string>pa-emwa</string>
    <string>pa-ima</string>
    <string>pa-mwangwego</string>
    <string>pa-ota</string>
    <string>pa-uyu</string>
  </array>
</dict>
</plist>
