<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>hi</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-334</integer>
  </dict>
  <key>hi-waya</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-322</integer>
  </dict>
  <key>mi</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-313</integer>
  </dict>
  <key>mi-hi</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-322</integer>
  </dict>
  <key>mi-hi-waya</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-269</integer>
  </dict>
  <key>mi-waya</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-322</integer>
  </dict>
  <key>myu</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-269</integer>
  </dict>
  <key>myu-hi</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-269</integer>
  </dict>
  <key>myu-hi-waya</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-269</integer>
  </dict>
  <key>myu-ni</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-269</integer>
  </dict>
  <key>myu-ni-hi</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-269</integer>
  </dict>
  <key>myu-ni-hi-waya</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-269</integer>
  </dict>
  <key>myu-waya</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-313</integer>
  </dict>
  <key>ni</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-269</integer>
  </dict>
  <key>ni-hi</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-269</integer>
  </dict>
  <key>ni-hi-waya</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-269</integer>
  </dict>
  <key>ni-waya</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-269</integer>
  </dict>
  <key>pa-emwa</key>
  <dict>
    <key>public.kern2.na-mwangwego</key>
    <integer>-135</integer>
  </dict>
  <key>pa-mwangwego</key>
  <dict>
    <key>mi-hi</key>
    <integer>62</integer>
    <key>mi-waya</key>
    <integer>9</integer>
    <key>myu-waya</key>
    <integer>-7</integer>
  </dict>
  <key>sisa</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-299</integer>
  </dict>
  <key>sisa-ni</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-269</integer>
  </dict>
  <key>sisa-ni-hi</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-269</integer>
  </dict>
  <key>tumba</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-269</integer>
  </dict>
  <key>tumba-waya</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-269</integer>
  </dict>
  <key>waya</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-316</integer>
  </dict>
  <key>public.kern1.ka-mwangwego</key>
  <dict>
    <key>public.kern2.pa-mwangwego</key>
    <integer>-304</integer>
  </dict>
</dict>
</plist>
